
<div>
    <style>
        .c10 {
            width: 50% !important;
        }

        .c20 {
            width: 20% !important;
        }

        .c30 {
            width: 30% !important;
        }

        .c50 {
            width: 50% !important;
        }

        .cl-flex {
            display: flex;
        }

        .cl-flex-row {
            flex-direction: row;
        }

        .cl-flex-col {
            flex-direction: column;
        }

        .cl-flex-wrap {
            flex-wrap: wrap;
        }

        .cl-just-around {
            justify-content: space-around;
        }

        .cl-just-between {
            justify-content: space-between;
        }

        .cl-just-end {
            justify-content: flex-end;
        }

        .cl-align-center {
            align-items: center;
        }

        .cl-filter-reset {
            background-color: transparent;
            border: none;
            width: auto;
            height: auto;
        }

        .cl-block {
            display: block;
        }

        .cl-inline {
            display: inline-block;
        }

        .m4x {
            margin: auto 1rem;
        }

        .m4 {
            margin: 1rem;
        }

        .m2-4 {
            margin: .5rem 1rem;
        }

        .p2 {
            padding: .5rem;
        }

        .p2-4 {
            padding: .5rem 1rem;
        }

        .p4 {
            padding: 1rem;
        }

        .p2x {
            padding: .5rem;
        }

        .p4y {
            padding: 1rem 0;
        }

        .p3b {
            padding-bottom: .75rem;
        }

        .p4b {
            padding-bottom: 1rem;
        }

        .p4r {
            padding-right: 1rem;
        }

        .cpoint {
            cursor: pointer;
        }

        .tupc {
            text-transform: uppercase;
        }

        .tbld {
            font-weight: bold;
        }

        .tgray {
            color: darkslategray;
        }

        .trght {
            text-align: right;
        }

        .tred{
            color: red;
        }

        label {
            display: block;
        }

        .cl-container {
            background-color: aliceblue;
            padding: .75rem;
        }

        .log-item-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .log-item-short {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .cl-level-0 {
        }

        .cl-level-2 {
            color: blue;
        }

        .cl-level-3 {
            color: orange;
        }

        .cl-level-4 {
            color: red;
        }
    </style>
</div>